{% extends "base.html" %}
{% block title %} Fazendas {% endblock %}

{% block nav %} 
<li class="nav-item active">
  <a class="nav-link" href="/">Home</a>
</li>
{% endblock %}

{% block tcontent%} <h1>Fazendas</h1> {% endblock %}

{% block thead %}
  <th>Nome</th>
  <th>Área (ha)</th>
  <th>Endereço</th>
  <th>Contato</th>
  <th>Proprietário</th>
{% endblock %}

{% block tdata %}
  {% for fazenda in fazendas %}
  <tr>
      <td>{{ fazenda.nome }}</td>
      <td>{{ fazenda.area_ha}}</td>
      <td>{{ fazenda.endereco}}</td>
      <td>{{ fazenda.contato}}</td>
      <td>{{ fazenda.proprietario}}</td>
  </tr>
  {% endfor %}
{% endblock %}
    
{% block content %}
  <a href="#">Cadastrar Nova Fazenda</a>
{% endblock %}
